---
layout: page
title: Resume
---
<div class="title">
  <img src="/public/resume2015.svg" alt="Your browser does not support svg. Please download a pdf instead." style="max-width:100%;width:100%;"/>
  <a href="/public/resume2015.pdf" target="_blank">Download a pdf</a>
</div>
