.gallery {
  max-width: 600px;
  text-align: center;
}

.gallery img {
  margin-bottom: 0;
}

#gallery_subtitle {
  margin-bottom: 0;
  padding-top: 10px;
}

#gallery_nav {
  max-width: 600px;
  margin-top: -100px;
  text-align: initial;
}

#gallery_nav  p{
  max-width: 100%;
  font-size: 100px;
  margin-bottom: 0;
  display: inline;
  cursor: default;

  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

#gallery_nav p:hover {
  color: grey;
}

#gallery_nav_right {
  float: right;
}

#gallery_pos_text {
  margin: 0 auto;
  padding-top: 20px;
}
